
@import url(../navBar/navBar.css);
@import url(../footer/footer.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



* {
    font-family: 'montserrat';
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    -webkit-transition: .1s linear;
    transition: .2s linear;
    /* scroll-behavior: smooth; */
  }
  
  body {
    background-color:  #262525}
  
  html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
  }
  
  html::-webkit-scrollbar {
    width: 1.2rem;
  }
  
  html::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
  }
  
  html::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 2rem;
  }
  
  section {
    padding: 15rem 9%;
  }


/* policy section starts */

   .packages .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(32rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    gap: 1.5rem;
  }

  .packages h1 {
    font-size: 5rem;
    color: #FFB803;
    font-weight: 500;
    padding-bottom: 5rem;
  }
  
  .packages  p {
    font-size: 2rem;
    color: #ffffff;
    padding: 1rem 0;
    line-height: 2;
    font-weight: 400;
  }

  .packages div .copy{
    color: #FFB803;
  }
  
  /* ---policy section ends---- */

  @media (max-width: 450px) {
    html {
      font-size: 50%;
    }
    .heading {
      font-size: 3rem;
    }
  }
  
  @media (max-width: 500px) {
    .footer .allright,
    .footer .privacypolicy {
      width: 100%;
      font-size: 3rem;
      line-height: 0.8;
      padding: 1rem;
    }
  
      .footer .copyright {
       padding: 1.5rem;
    }
  
        .footer .box-container .box img {
      margin-left: 15rem;
    }
  }
  
  @media (max-width: 450px) {
    .footer .allright,
    .footer .privacypolicy {
      width: 100%;
      font-size: 3rem;
      line-height: 0.8;
      padding: 1rem;
    }
  
      .footer .copyright {
       padding: 1.5rem;
    }
  
        .footer .box-container .box img {
      margin-left: 13rem;
    }
  }
  
  @media (max-width: 500px) {
    html {
      font-size: 50%;
    }
    .heading {
      font-size: 3rem;
    }
  }